html {
	font-size: 6.25%;
	font-family: monospace;
	font-weight: 500;
}
body {
	font-size: 16rem;
	background-color: black;
	color: white;
}
*:before {
	display: inline-block;
	font-size: 1.5em;
	line-height: 1;
	margin-right: 0.5ex;
}
.describe-it {
	margin-left: 1em;
	font-weight: 600;
	font-size: 1.2em;
}
.test-it {
	margin-left: 3em;
	margin-bottom: 0;
}
.test-it:before {
	content: 'it';
	font-size: 1em;
	margin-right: 1ex;
}
.test-run {
	margin-left: 3em;
	margin-top: 0;
}
.pass {
	color: palegreen;
}
.pass:before {
	content: '\002713';
}
.fail {
	color: red;
}
.fail:before {
	content: '\002717';
}
.compare {
	column-count: 2;
	column-width: 50%;
}
.arg {
	display: block;
	color: dodgerblue;
}
.comp {
	display: block;
	color: palegreen;
}
